@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: Comic Sans MS, Comic Sans, cursive;
    cursor: url('https://img.icons8.com/external-kiranshastry-lineal-color-kiranshastry/512/external-cursor-interface-kiranshastry-lineal-color-kiranshastry.png'), pointer;
}

:root {
    --gradient: linear-gradient(45deg,
            #845ec2,
            #d65db1,
            #ff9671,
            #ffc75f,
            #ff33ff,
            #f9f871);
    --gradientgame: linear-gradient(135deg,
            #843bfa,
            #58e6ff,
            #ffc75f,
            #39ff39,
            #f9f871,
            #f94aff);
}


.gradientoverlay {
    /* ackground-image: linear-gradient(to bottom right, #a32aea, #23d3fe, #44dafe); */
    background-image: var(--gradientgame);
    background-size: 400%;
    animation: bg-animation 25s infinite alternate;
    cursor: url('http://anuary.com/dev/hp/pad3/public/images/hand-cursor.png'), pointer;
}

.wingradientoverlay {
    background-image: linear-gradient(to bottom right, #2fff2f, #c8ffc8, #ffffff);
}

.lossgradientoverlay {
    background-image: linear-gradient(to bottom right, #ff2f2f, #ffc8c8, #ffffff);
}

.drawgradientoverlay {
    background-image: linear-gradient(to bottom right, #eaff2f, #feffc8, #ffffff);
}

body {
    background-image: var(--gradient);
    background-size: 400%;
    animation: bg-animation 15s infinite alternate;
}

@keyframes bg-animation {
    0% {
        background-position: left;
    }

    100% {
        background-position: right;
    }
}